.dropdown {
    position: relative;

    .dropdown-value {
        cursor: pointer;
        text-transform: lowercase;

        transition: 0.1s ease;

        &::after {
            content: '';
            display: block;
    
            width: 0;
            height: 1px;
    
            background: $primary;
            transition: width 0.2s ease;
        }
    
        &:hover {
            color: $secondary;

            &::after {
                width: 100%;
            }
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;

        ul.dropdown-list {
            list-style: none;
            margin-bottom: 0;

            li.dropdown-list-item {
                a.dropdown-list-link {
                    display: inline-block;

                    padding: 2px 0;
                    
                    color: $primary;
                    text-transform: lowercase;
                    text-decoration: none;
                    
                    transition: 0.1s ease;
                
                    &::after {
                        content: '';
                        display: block;
                
                        width: 0;
                        height: 1px;
                
                        background: $primary;
                        transition: width 0.2s ease;
                    }
                
                    &:hover {
                        color: $secondary;

                        &::after {
                            width: 20px;
                        }
                    }

                    &.current-language {
                        display: none;
                    }
                }
            }
        }
    }
}