header {
    position: relative;
    padding: 15px 0;

    z-index: 1;
    
    .container {
        .row {
            align-items: center;
            justify-content: space-between;

            .left-block {
                .logo {
                    img {
                        height: 80px;
                    }
                }
            }
            .right-block {
                display: flex;
                justify-content: flex-end;

                padding-top: 15px;

                div {
                    margin-right: 40px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}