ul.main-nav {
    display: flex;
    list-style: none;
    margin-bottom: 0;

    li.main-nav-item {
        &:first-child {
            a.main-nav-link {
                padding-left: 0;
            }
        }
        
        &:last-child {
            a.main-nav-link {
                padding-right: 0;
            }
        }

        a.main-nav-link {
            display: inline-block;
            padding: 0 25px;

            color: $primary;
            text-transform: lowercase;
            text-decoration: none;

            transition: 0.1s ease;
        
            &::after {
                content: '';
                display: block;
        
                width: 0;
                height: 1px;
        
                background: $primary;
                transition: width 0.2s ease;
            }
        
            &:hover {
                color: $secondary;

                &::after {
                    width: 20px;
                }
            }

            &.active {
                &::after {
                    width: 100%;
                }
                &:hover {
                    &::after {
                        width: 50%;
                    }
                }
            }
        }
    }
}