ul.project-navigation {
    padding: 40px 100px;
    width: fit-content;

    border-left: 1px solid $lightgray;
    border-right: 1px solid $lightgray;

    margin: 0 auto;

    li.nav-item {
        a.nav-link {
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
    }
}

.project-gallery {
    padding: 50px 0;
    overflow: hidden;

    & > div {
        margin-bottom: 50px;

        .row {
            margin-top: -15px;

            margin-left: calc((var(--bs-gutter-x) / -2) - 7.5px);
            margin-right: calc((var(--bs-gutter-x) / -2) - 7.5px);

            & > div {
                padding: 0;
                margin: 15px 7.5px 0 7.5px;

                &.col-1 {
                    width: calc(8.33333% - 15px);
                }

                &.col-2 {
                    width: calc(16.66667% - 15px);
                }

                &.col-3 {
                    width: calc(25% - 15px);
                }

                &.col-4 {
                    width: calc(33.33333% - 15px);
                }

                &.col-6 {
                    width: calc(50% - 15px);
                }

                &.col-12 {
                    width: calc(100% - 15px);
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    // image sizes
    .image-height-350 {
        height: 350px;
    }

    .image-height-400 {
        height: 400px;
    }

    .image-height-500 {
        height: 500px;
    }

    .image-height-700 {
        height: 700px;
    }

    .image-height-800 {
        height: 800px;
    }

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center;

        filter: grayscale(1);
        transition: 0.2s ease;

        &:hover {
            filter: grayscale(0);
        }
    }
}

.other-projects {
    .col-12 {
        text-align: center;

        .project-block {
            .project-image {
                height: 300px;
            }
            .project-title {
                justify-content: center;
                padding-right: 100px;
            }

            &:nth-child(2n) {
                .project-title {
                    padding-right: 0;
                    padding-left: 100px;
                }
            }
        }
    }
}