section.projects-list {
    .projects-list-block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        margin-bottom: 100px;

        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(2n) {
            .projects-list-image {
                order: 2;
            }

            .projects-list-title {
                padding-left: 0;
                padding-right: 140px;
                align-items: flex-end;
            }
        }

        .projects-list-image {
            width: 60%;
            height: 400px;

            img {
                width: 100%;
                height: 100%;

                object-fit: cover;
                object-position: center;
            }
        }

        .projects-list-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            width: 40%;

            padding-left: 140px;
            padding-bottom: 70px;

            .projects-list-title-title {
                font-size: 36px;
                line-height: 42px;

                color: $primary;
                font-weight: 600;
                text-transform: uppercase;

            }
            .projects-list-title-subtitle {
                margin-top: 10px;

                font-size: 24px;
                line-height: 30px;

                color: $secondary;
                font-weight: 300;
                text-transform: uppercase;
            }

        }
    }
}