section.section-error {
    .container {
        .row {
            div {
                max-width: 800px;

                h1 {
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 40px;
                    max-width: 450px;
                }
            }
        }
    }
}