.client-block {
    margin: 0 7.5px;
    margin-bottom: 40px;

    a {
        display: flex;

        img {
            height: 60px;
            max-width: 100%;
            
            object-fit: contain;
            object-position: center;

            filter: grayscale(1);
            
            transition: 0.2s ease;
        }
        
        &:hover {
            img {
                filter: grayscale(0);
            }
        }
    }
}