.project-block {
    margin: 0 7.5px;
    margin-bottom: 50px;

    .project-image {
        width: 100%;
        height: 365px;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: center;
        }
    }

    .project-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 25px;

        .project-title-title {
            width: 60%;

            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
        }

        .project-title-more {
            a {
                position: relative;

                display: flex;
                justify-content: flex-end;
                align-items: center;

                width: auto;

                text-transform: lowercase;

                div {
                    background: white;
                    padding-right: 20px;
                }

                &::after {
                    display: block;
                    content: '';

                    width: 40px;
                    height: 1px;
                    
                    background: $primary;

                    transition: width 0.3s ease;
                }

                &:hover {
                    color: $secondary;

                    &::after {
                        width: 100px;
                    }
                }
            }
        }
    }
}