ul.benefits-list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    padding-left: 0;
    margin-bottom: -20px;

    li {
        position: relative;

        display: inline-block;        
        width: 50%;

        font-size: 18px;
        line-height: 30px;

        font-weight: 400;
        color: $primary;

        padding: 0 15px 0 45px;
        margin-bottom: 20px;


        &::before {
            position: absolute;

            display: block;
            content: '';

            top: 0;
            left: 0;

            width: 30px;
            height: 30px;

            margin-right: 30px;

            background: $primary;

            mask: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 16.5L13.75 24.75L27.5 8.25' stroke='%23151414' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            mask-size: contain;
            mask-position: center;
            mask-repeat: no-repeat;
        }
    }
}

section.four-blocks {
    .section-title {
        margin-left: 100px;
    }

    &.reverse {
        .project-gallery {
            .project-gallery-block {        
                &.block-with-text {
                    .project-gallery-block-image {
                        order: 2;
        
                        &::before {
                            left: auto;
                            right: 60px;
                        }
                    }
    
                    .project-gallery-block-content {
                        order: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    ul.benefits-list {
        padding: 0 15px;

        li {
            width: 100%;

            font-size: 14px;
            line-height: 24px;
        }
    }

    section.four-blocks {
        .section-title {
            margin-left: 0;
            text-align: center;
        }
    
        &.reverse {
            .project-gallery {
                .project-gallery-block {        
                    &.block-with-text {
                        .project-gallery-block-image {
                            order: 1;
            
                            &::before {
                                top: -15px;
                                left: -50px;
                                right: auto;
            
                                height: calc(100% + 30px);
                            }
                        }
        
                        .project-gallery-block-content {
                            order: 2;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    ul.benefits-list {
        padding: 0 15px;

        li {
            width: 100%;

            font-size: 16px;
            line-height: 28px;
        }
    }

    section.four-blocks {
        .section-title {
            margin-left: 0;
            margin-bottom: 50px;
            text-align: center;
        }
    }
}