section.project-contact {
    .container {
        position: relative;
        max-width: 740px;
        
        padding-left: 40px;
        padding-right: 40px;

        &::before {
            content: '';
            position: absolute;

            top: 0;
            left: 0;

            width: 1px;
            height: 75%;

            background: $lightgray;
        }

        &::after {
            content: '';
            position: absolute;

            top: 0;
            right: 0;

            width: 1px;
            height: 75%;

            background: $lightgray;
        }

        .row {
            .container-body {
                text-align: center;

                h3 {
                    font-size: 28px;
                    font-weight: 600;

                    text-transform: none;

                    margin-top: 60px;
                }
                p {
                    margin-top: 30px;
                }
                form {
                    margin-top: 50px;

                    .form-row {
                        text-align: left;
                    }
                }
                .offer-phone {
                    font-size: 28px;
                    line-height: 36px;
    
                    font-weight: 600;
                    text-transform: none;
    
                    margin-top: 50px;
    
                    span {
                        display: block;
    
                        font-size: 12px;
                        line-height: 18px;
    
                        font-weight: 500;
                        text-transform: uppercase;
    
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}