section.section.project-hero {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    width: 100%;

    padding: 100px 0 0 0;
    
    .project-hero-title {
        margin-bottom: 50px;
    }

    .project-hero-image {
        width: 100%;
        height: 700px;
        
        margin-bottom: 50px;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            object-position: center;
        }
    }

    table.project-hero-table {
        tbody {
            tr {
                th, td {
                    width: 50%;
                    padding: 5px 0;

                    font-size: 18px;
                    line-height: 24px;

                    font-weight: 300;
                    color: $primary;

                    text-align: left;
                }
                td {
                    font-weight: 400;
                    padding-left: 30px;
                }
            }
        }
    }
}