section.section-profile {
    table.profile-file {
        tbody {
            tr {
                th, td {
                    width: 50%;
                    padding: 5px 0;

                    font-size: 18px;
                    line-height: 24px;

                    font-weight: 300;
                    color: $primary;

                    text-align: left;
                }
                td {
                    font-weight: 400;
                    padding-left: 30px;
                }
            }
        }
    } 
}