section.section-team.project-team {
    .container-body {
        text-align: center;

        .container-title {
            margin-bottom: 30px;
        }
        
        p {
            margin-bottom: 50px;
        }
    }
}