.contacts-tab-block {
    margin-bottom: 100px;
    padding-right: 70px;

    p {
        max-width: 540px;
        margin-top: 30px;
    }

    .contacts-phone {
        margin-top: 40px;

        a {
            display: inline-block;

            font-size: 28px;
            line-height: 36px;
            
            font-weight: 600;

            span {
                display: block;

                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
}