.projects-slider {
    position: relative;

    margin-left: -7.5px;
    margin-right: -5px;

    .project-block {
        .project-image {
            height: 300px;
        }
    }
}

@media screen and (max-width: 767px) {
    section {
        &#projects {
            .container {
                .row {
                    .col-12 {
                        padding: 0;
                    }
                }
            }
        }
    }

    .projects-slider {
        margin-left: -8px;
        margin-right: 0;

        .slick-list {
            padding: 0 15% 0 0;
        }

        .project-block {
            margin: 0 7.5px;

            .project-image {
                width: 100%;
                height: 220px;
        
                img {
                    width: 100%;
                    height: 100%;
        
                    object-fit: cover;
                    object-position: center;
                }
            }
        
            .project-title {
                padding: 0 15px;

                .project-title-more {
                    display: none;
                }
            }
        }
    }

    .mainpage-projects-slider {
        margin-left: -8px;
        margin-right: 0;

        .slick-list {
            padding: 0 15% 0 0;
        }

        .project-block {
            margin: 0 7.5px;

            .project-image {
                width: 100%;
                height: 220px;
        
                img {
                    width: 100%;
                    height: 100%;
        
                    object-fit: cover;
                    object-position: center;
                }
            }
        
            .project-title {
                padding: 0 15px;

                .project-title-more {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .projects-slider {
        .project-block {
            .project-image {
                height: 220px;
            }
        }
    }
}