.projects-slider {
    position: relative;

    margin-left: -7.5px;
    margin-right: -5px;

    .project-block {
        margin-bottom: 0;

        .project-image {
            height: 300px;
        }
    }
}