.get-in-touch {
    width: 100%;
    text-align: center;

    .get-in-touch-title {
        font-size: 36px;
        line-height: 24px;

        font-weight: 500;
        color: #fff;
        text-transform: uppercase;

        margin-bottom: 15px;
    }

    .get-in-touch-link {
        a {
            font-size: 20px;
            line-height: 24px;

            font-weight: 500;
            color: #fff;

            text-transform: uppercase;
            border-bottom: 1px solid #fff;

            margin-bottom: 15px;
        }
    }

    .get-in-touch-social {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 50px;

        a {
            display: inline-block;
            margin: 0 10px;

            .icon {
                width: 30px;
                height: 30px;
            }

            &:hover {
                .icon {
                    background: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }
}