.filters-row {
    display: flex;
    flex-wrap: wrap;

    .filter-block {
        width: 25%;

        &.dropdown {
            .dropdown-toggle {
                border-right: 0;
            }

            .dropdown-menu {
                width: calc(100% + 1px);
            }

            &:last-child {
                .dropdown-toggle {
                    border-right: 1px solid $primary;
                }

                .dropdown-menu {
                    width: 100%;
                }
            }
        }
    }
}