section.main-hero {
    height: calc(100vh - 110px);
    min-height: 800px;

    background: url('../../../images/banners/mainpage-bg.png') no-repeat;
    background-size: auto 100%;
    background-position: left bottom;

    margin-bottom: 50px;

    .container {
        position: relative;
        height: 100%;

        .row {
            justify-content: flex-end;

            .main-hero-content {
                margin-top: 200px;

                p {
                    margin-top: 30px;
                }
                button {
                    margin-top: 30px;
                }
            }

            .main-hero-social {
                position: absolute;
                display: flex;

                bottom: 200px;
                left: 100px;

                a {
                    display: inline-block;
                    padding: 0 10px;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }

                    .icon {
                        width: 30px;
                        height: 30px;

                        &:hover {
                            background: rgba(255, 255, 255, 0.85);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    section.main-hero {
        height: auto;
        min-height: auto;
        
        padding: 25px 0;
        background-size: auto 180px;
        background-position: left 95px;

        margin-bottom: 0;

        .container {            
            .row {
                .main-hero-content {
                    margin-top: 0;
                    text-align: center;

                    .main-hero-title {
                        padding-bottom: 20px;
                        margin-bottom: 200px;
                    }

                    button {
                        margin-top: 80px;
                    }
                }

                .main-hero-social {
                    display: flex;
                    justify-content: center;

                    width: 100%;
                    bottom: 80px;
                    left: 0;
                    
                    .icon.white {
                        background: $primary;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    section.main-hero {
        height: auto;
        min-height: 450px;
        
        background-size: auto 350px;
        background-position: left bottom;

        margin-bottom: 25px;

        .container {
            .row {
                .main-hero-content {
                    margin-top: 30px;
                    text-align: right;
                }

                .main-hero-social {
                    bottom: -120px;
                    left: 120px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    section.main-hero {
        height: calc(100vh - 90px);
        min-height: 700px;

        background-size: auto 600px;

        .container {
            .row {
                .main-hero-content {
                    margin-top: 100px;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
    section.main-hero {
        height: calc(100vh - 90px);
        min-height: 700px;

        background-size: auto 700px;

        .container {
            .row {
                .main-hero-content {
                    margin-top: 100px;
                }
            }
        }
    }
}