section.hero-banner {
    position: relative;
    padding: 0;
    
    width: 100%;
    height: calc(100vh - 115px);
    min-height: 800px;

    background: url('../../../images/slider/mainpage-slider-2.png') no-repeat;
    background-size: auto 100%;
    background-position: left bottom;

    margin-bottom: 50px;

    .container {
        position: relative;
        height: 100%;

        .row {
            justify-content: flex-end;

            .hero-banner-content {
                margin-top: 200px;
                width: 45%;

                .hero-banner-title {
                    margin-bottom: 40px;
                }
            }

            .hero-banner-social {
                position: absolute;

                bottom: 200px;
                left: 150px;

                display: flex;

                a {
                    display: inline-block;
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }

                    .icon {
                        width: 30px;
                        height: 30px;

                        &:hover {
                            background: rgba(255, 255, 255, 0.7);
                        }
                    }
                }
            }
        }
    }
}