section.section-team {
    .team-slider {
        position: relative;

        margin-left: -7.5px;
        margin-right: -5px;

        .member-block {
            position: relative;
            margin: 0 7.5px;

            overflow: hidden;

            .member-image {
                width: 100%;
                height: 350px;

                img {
                    width: 100%;
                    height: 350px;
    
                    object-fit: cover;
                    object-position: center;

                    transition: 0.2s ease;
                }    
            }

            .member-about {
                position: absolute;

                left: 0;
                bottom: 0;

                width: 100%;
                padding: 10px 15px;

                background: $secondary;
                color: #fff;

                text-align: center;

                transform: translateY(64px);
                transition: transform 0.3s ease;


                .member-name {
                    font-size: 18px;
                    line-height: 24px;

                    font-weight: 500;
                    text-transform: uppercase;
                    
                }

                .member-position {
                    font-size: 14px;
                    line-height: 20px;

                    font-weight: 400;
                    text-transform: lowercase;

                    letter-spacing: 3px;
                }
            }

            &:hover {
                .member-image {
                    img {
                        transform: translateY(15px)
                    }
                }
                .member-about {
                    transform: translateY(0);
                }
            }

        }

        .slider-arrow {
            cursor: pointer;
            position: absolute;
            
            top: calc(50% - 24px);

            display: flex;
            justify-content: center;
            align-items: center;

            width: 48px;
            height: 48px;

            background: #fff;
            border-radius: 50%;

            box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.15);

            z-index: 1;
            transition: 0.2s ease;

            &.prev {
                left: calc(-24px + 7.5px);
            }

            &.next {
                right: calc(-24px + 5px);
            }

            &.slick-disabled {
                opacity: 0.85;
            }

            &:hover {
                .icon {
                    background: $secondary;
                }

                box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.2);
            }
        }
    }
}